# HW00- Getting Started with Jupyter Notebooks
### By Krishna Kumar Shrestha
## Import Libraries
## Import Data
## View Data

**Import Libraries**

In [2]:
import numpy as np # used for numerical operations and array manipulations
import pandas as pd # used for reading and writing data, manipulating data and more

**Import Data**

In [ ]:
df_weather = pd.read_csv('data/weather.csv', # specify the path to  CSV file
                         index_col=None, # Not to use any column as the index
                         header=0) #use the first row as the header

# Comment: Importing the data from data folder called weather.csv which is a csv file

**View Data**

In [4]:
 # Display the first 5 rows of the DataFrame
# By default N is 5 but we can specify it
# to display more or less rows
df_weather.head(n=5)

,Date,MaxTemp,MaxTime,MinTemp,MinTime,cloudCover,precipProbability,precipAmount,sunriseTime,sunsetTime,windSpeed
0,3/1/17,68.48,3/1/17 5:00,51.69,2/28/17 9:18,0.96,0.91,0.0184,2/28/17 12:25,2/28/17 23:46,6.20
1,3/2/17,69.75,3/1/17 10:30,36.00,3/2/17 5:00,0.53,1.00,0.2422,3/1/17 12:24,3/1/17 23:47,9.69
2,3/3/17,51.93,3/2/17 21:49,30.87,3/2/17 11:39,0.18,0.36,0.0028,3/2/17 12:23,3/2/17 23:48,4.63
3,3/4/17,44.03,3/3/17 21:51,26.49,3/3/17 14:06,0.14,0.70,0.0017,3/3/17 12:21,3/3/17 23:49,2.26
4,3/5/17,65.98,3/4/17 21:24,27.40,3/4/17 10:06,0.03,0.00,0.0000,3/4/17 12:20,3/4/17 23:50,4.69